.about__page {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem 0rem 4rem;
    overflow: hidden;

    @media screen and (max-width: 900px){
        width: 100vw;
        padding: 0rem 1.5rem 0rem 1.5rem;
        flex-direction: column;
    }
}

.head-text {
    margin-top: 2rem;
}

.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 2rem;

    @media screen and (max-width: 900px) {
        padding-left: 1rem;
    }
}

.app__profiles-wrapper {
    display: flex;
    width: 65%;
    /*background: blue;*/
    @media screen and (max-width: 900px) {
        width: 75%;
    }
}

.app__profile-item {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;

    img {
        width: 180px;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
            height: 320px;
        }
    }
}

.p-text {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.moveButton {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 2rem 2rem;
    margin: 0rem 4rem 0rem 4rem;
    border-radius: 50px;
    background: rgba(0, 0, 0, .6);
    color: white;
    border: none;
    pointer-events: all;
    cursor: pointer;
    user-select:none;
    transition: all .25s ease-in-out;

    @media screen and (max-width: 900px){
        display: none;
    }
}

.moveButton:hover {
    transition: all .25s ease-in-out;
    scale: 125%;
}

.moveButton:disabled {
    transition: all .25s ease-in-out;
    color: rgba(8, 8, 8, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.phoneButtonWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.moveButtonPhoneLeft {
    display: none;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
    border-radius: 10px 0px 0px 10px;
    background: rgba(0, 0, 0, .6);
    color: white;
    border: none;
    pointer-events: all;
    cursor: pointer;
    user-select:none;
    transition: all .3s ease-in-out;

    @media screen and (max-width: 900px){
        display: flex;
    }
}

/*.moveButtonPhoneLeft:hover {
    transition: all .3s ease-in-out;
    background: rgba(0, 0, 0, .3);
}*/

.moveButtonPhoneLeft:disabled {
    transition: all .3s ease-in-out;
    color: rgba(8, 8, 8, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

.moveButtonPhoneRight {
    display: none;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
    border-radius: 0px 10px 10px 0px;
    background: rgba(0, 0, 0, .6);
    color: white;
    border: none;
    pointer-events: all;
    cursor: pointer;
    user-select:none;
    transition: all .3s ease-in-out;

    @media screen and (max-width: 900px){
        display: flex;
    }
}

/*.moveButtonPhoneRight:hover {
    transition: all .3s ease-in-out;
    background: rgba(0, 0, 0, .3);
}*/

.moveButtonPhoneRight:disabled {
    transition: all .3s ease-in-out;
    color: rgba(8, 8, 8, 0.4);
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}