.app__footer {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    width: 100%;
    flex-direction: row;
    padding: 2rem 8vw;
    margin-top: 2rem;
}

.footerSections {
    display: flex;
    z-index: 7;
}

.app__footer-logo {
    display: flex;
    transform: translateY(calc(-5px + .1vw));

    img {
        filter: invert(1) drop-shadow(0px 0px 20px rgb(0, 0, 0));
        width: auto;
        height: calc(35px + 6vw);
    }
}

.footer__links {
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
        }

        a {  
            color: white;
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
            transition: all .3s ease-in-out;

            @media screen and (min-width: 350px){ 
                &:hover {
                    transition: all .3s ease-in-out;
                    scale: 150%;
                }
            }
        }
    }
}

.devonInfo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    text-align: right;
    transform: translateX(10px);

    a {
        transition: all .3s ease-in-out;
        margin-bottom: 1rem;
        color: white;
        filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
    }

    @media screen and (min-width: 350px){
        a:hover {
            transition: all .3s ease-in-out;
            scale: 150%;
    
        }
    }

    img {
        height: 20px;
        width: 20px;
    }
}

.centerPhoneNumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.ball {
    display: flex;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0rem .5rem;
}

.socails {
    display: flex;
    justify-content: right;
    position: absolute;
    background: black;
    margin-bottom: 2rem;
    padding-right: 2vw;
    width: 100%;
    z-index: 7;
    flex-direction: row;
    transition: all 0.3s ease-in-out;

    div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        svg {
            transition: all 0.3s ease-in-out;
            width: 15px;
            height: 15px;
            color: white;
        }

        @media screen and (min-width: 350px) {
            &:hover {
                transition: all 0.3s ease-in-out;
                svg {
                    transition: all 0.3s ease-in-out;
                    scale: 150%;
                }
            }
        }
    }
}

.app__footer .footerBackgroundCover {
    display: flex;
    padding-bottom: 5rem;
    background: black;
    left: 0;
    height: 250px;
    width: 100%;
    position: absolute;
    margin-top: -2rem;
    z-index: 6;
    overflow: hidden;
}