.app__navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4);
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;

    img {
        width: auto;
        height: 10vh;

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    right: 2rem;
    align-items: center;
    position: absolute;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        a {
            color: white;
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            text-shadow: 1px 0px 2px rgba(0, 0, 0, .4);
            transition: all .3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    top: .5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);
        pointer-events: all;
        cursor: pointer;
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}
    
.app__navbar-menu-info{
    display: none;
    .navWrapper {
        position: fixed;
        top: .5rem;
        right: 1.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        pointer-events: none;

        .mobileWrapper {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            div {
                position: absolute;
                a {
                    display: flex;
                    width: 35px;
                    height: 35px;
                    border-radius: 100px;
                    background-color: black;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in-out;

                    svg {
                        width: 18px;
                        height: 18px;
                        color: var(--white-color);
                        pointer-events: all;
                        cursor: pointer;
                    }
                }
            }
        }

        @media screen and (max-width: 900px) {
            display: flex;
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
    }
}